@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background-color: #202020;
	height: 100vh;
	color: white;
}

/* Code for the main navigation bar */

nav {
	height: 11%;
	width: 100%;
	background-color: #080808;
	overflow: none;
	font-size: 14px;
	font-weight: bold;
	min-height: 70px;
	min-width: 300px;
}

nav a {
	width: 100px;
	display: block;
	padding: 20px 12px;
	text-decoration: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
	text-align: center;
}

ul {
	padding: 5px 0 0 0;
	margin: 0 0 0 275px;
	list-style: none;
}

li {
	float: left;
}


.logo img {
	position: absolute;
	margin-left: 40px;
	width: 220px;
	height: auto;
	padding-top: 2px;
	
}


/* Code for movie-single/html */
/* columns that floats next to each other */
.column {
	float: left;
	width: 33.33%;
	padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
	.column {
	  width: 100%;
	}
  }

/* Movie- title image size*/





/*Casts */
#cast {
	width: 630px;
	height: 780px;
	display: flex;
	align-content: center;
	padding: 28px;
	background: #ffffff70;
	border-radius: 83px;
}

.quarter { 
	height: 23%;
	width: 41%;
	border-radius: 244%;
}


.hover-opacity {
	border-radius: 50%;
}

.row1 {
	width: 400px;
	margin: auto;
}

/*Trailer*/

#trailer {
	width: 900px;
	align-content: center;
	display: flex;
	top: 15%;
	position: absolute;
	left: 45%;
}
























/* Code for the two icons in the top right */


#search_icon {
	position: relative;
	float: right;
	font-size: 20px;
}

#hamburger_icon {
	position: relative;
	float: right;
	font-size: 20px;
}




/* Code for the hamburger menu drop down */

#myLinks {
  display: none;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif" !important;
  text-align: center;
  background-color: #101010;
  font-weight: bold;
  transition: all 0.5 ease 0.5;
}

#myLinks a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

#myLinks a:hover {
  background-color: #505050;
}


/* */
/* Mobile Responsiveness */
/* */

@media (min-width: 1024px) {
	#myLinks {
		display: none !important;
	}
}

@media (min-width: 1024px) {
	  #hamburger_icon {
		display: none;
	}
}

@media (max-width: 1024px) {
	  .logo img {
		padding-top: 5px;
	}
}

@media (max-width: 1024px) {
	  .non_mobile_li {
		display: none
	}
}

@media (max-width: 1024px) {
	  nav a {
		width: 25px;
	}
}

@media (max-width: 1024px) {
	  #hamburger_icon {
		padding-right:35px;
	}
}

@media (max-width: 720px) {
	  .logo img {
		margin-left: 20px;
	}
}

@media (max-width: 420px) {
	  #hamburger_icon {
		padding-right:15px;
	}
}

@media (max-width: 395px) {
	  #search_icon {
		display: none;
	}
}

/* */
/* End of Mobile Responsiveness */
/* */